Source: log2ram
Maintainer: Azlux <github@azlux.fr>
Bugs: https://github.com/azlux/log2ram/issues

Package: log2ram
Section: net
Priority: optional
Architecture: all
Description: ramlog like for systemd (Put log into a ram folder)
Homepage: https://github.com/azlux/log2ram
Recommends: rsync
